/*
!UndefinedGregic
UndefinedGregic/*
!UndefinedGregic/minecraft
UndefinedGregic/minecraft/*
!UndefinedGregic/minecraft/interactions
!UndefinedGregic/minecraft/local
!UndefinedGregic/minecraft/resources
!UndefinedGregic/minecraft/oresources
!UndefinedGregic/minecraft/resourcepacks
!UndefinedGregic/minecraft/scripts
UndefinedGregic/minecraft/scripts/.zsrc
UndefinedGregic/minecraft/scripts/oresources - 快捷方式.lnk
UndefinedGregic/minecraft/scripts/resources - 快捷方式.lnk
UndefinedGregic/minecraft/scripts/desktop.ini
!UndefinedGregic/minecraft/config
UndefinedGregic/minecraft/config/splash.properties
UndefinedGregic/minecraft/config/Probe.cfg
UndefinedGregic/minecraft/config/enderio/recipes/*
UndefinedGregic/minecraft/config/InvTweaks/InvTweaks.cfg
UndefinedGregic/minecraft/config/jei/bookmarks.ini
UndefinedGregic/minecraft/config/jei/worldSettings.cfg
UndefinedGregic/minecraft/local/ftbutilities/backups.json
