# Configuration file

general {
    # These entries won't drop from clover.
    # Accepts item names only (like minecraft:stone or thaumcraft:amber).
    # Supports wildcards (*).
    S:"Banned Items" <
        moreavaritia:infinitympick
        enderio:item_dark_steel_hand
        gregtech:metal_casing:2
        minecraft:coal:1
        minecraft:structure_void
        enderio:item_alloy_ball:*
        modularmachinery:*
        actuallyadditions:item_potion_ring_advanced:10
        woot:upgradeb:*
        car:*
        simpleplanes:*
        totaltinkers:*
        emcbaubles:*
        randomthings:stainedbrick:*
        villagenames:*
        nuclearcraft:rad_x
        compactmachines3:wall
        cyberware:*
        projectex:*
        minecraft:concrete_powder:*
        thermalfoundation:coin:2
        securitycraft:*
        delivery:*
        air_support:*
        cfm:*
        mekanism:cardboardbox
        endreborn:*
        futureminecraf:*
        nuclearcraft:geiger_counter
        gtadditions:ga_meta_tool
        projecte:item.pe_lens_explosive
        projecte:item.pe_water_orb
        ironfurnaces:*_active
        dimensionaledibles:custom_apple
        randomthings:biomecrystal
        randomthings:lotus
        gregtech:meta_armor
        enderio:*_fused_*
        nuclearcraft:*_hazmat
        deepmoblearning:pristine_matter_*
        enderutilities:*
        mysticalagriculture:*_seeds
        actuallyadditions:block_crystal_cluster_*
        nuclearcraft:*_active
        nuclearcraft:radiation_scrubber
        randomthings:lesserbeanstalk
        cyclicmagic:fire_dark_anim
        projecte:item.pe_klein_star:6
        minecraft:double_plant:*
        actuallyadditions:block_wild:*
        nuclearcraft:salt_fission_computer_port
        actuallyadditions:block_empowered_oil
        gregtech:cable
        enderio:block_enderman_skull:3
        actuallyadditions:block_rice
        appliedenergistics2:cable_bus
        nuclearcraft:radaway_slow
        draconicevolution:creative_rf_source
        enderio:block_creative_spawner
        randomthings:translucentluminousblock:*
        thermalfoundation:meter:1
        thermalexpansion:augment
        thermalfoundation:fertilizer:3
        randomthings:runedust:*
        actuallyadditions:block_misc:10
        nuclearcraft:turbine_computer_port
        mysticalagradditions:*_crop
        thermalfoundation:material:2
        gtadditions:ga_meta_item
        thermalfoundation:wrench:1
        actuallyadditions:item_crystal_empowered:6
        projecte:item.pe_fuel:3
        thermalfoundation:geode:1
        forge:bucketfilled
        randomthings:luminousblock:*
        draconicevolution:draconium_capacitor:2
        thermalfoundation:security:1
        enderio:block_buffer:3
        mekanism:boundingblock
        nuclearcraft:ingot:*
        appliedenergistics2:creative_storage_cell
        ae2fc:fluid_packet
        actuallyadditions:block_colored_lamp_on:*
        everlastingabilities:ability_totem
        thermalfoundation:bait:3
        theoneprobe:*
        conarm:*
        ae2fc:fluid_drop
        projecte:item.pe_manual
        actuallyadditions:item_dust:8
        actuallyadditions:item_crystal_shard:6
        actuallyadditions:block_crystal:6
        nuclearcraft:tiny_dust_*
        randomthings:luminousstainedbrick:*
        mekanism:crystal:*
        mekanism:shard:*
        randomthings:coloredgrass:*
        mekanism:dirtydust:*
        actuallyadditions:block_crystal_empowered:6
        thermalexpansion:morb:*
        gregtech:meta_item_2
        enderio:block_decoration3:*
        fluidtank:blocktankcreative
        enderio:block_decoration2:*
        enderio:block_decoration1:*
        nuclearcraft:ore:*
        enderio:block_cap_bank:0
        actuallyadditions:item_crystal:6
        mysticalagriculture:*_essence
        mekanism:clump:*
        tconstruct:*
        everlastingabilities:ability_bottle
        ftbquests:*
        moreplates:*
        nuclearcraft:depleted_*
        solarflux:solar_panel_*
        thermaldynamics:cover:*
        actuallyadditions:item_jam:7
        thermalfoundation:upgrade:4
        hammercore:*
        gregtech:concrete:*
        randomthings:spectrecoil_genesis
        thermalexpansion:*:5
        randomthings:imbue:4
        thermalfoundation:dye:*
        gregtech:meta_item_1:0
        enderutilities:icemelter:0
        projectex:power_flower:*
        enderio:block_painted_*
        projecte:item.pe_tome
        minecraft:carpet:*
        bdsandm:upgrade:4
        *:*_creative
        projectex:final_star_shard
        theoneprobe:creativeprobe
        appliedenergistics2:creative_energy_cell
        thermalfoundation:fluid_*
        extracells:terminal_universal_wireless
        cqrepoured:*
        randomthings:dungeonchestgenerator
        minecraft:wool:*
        *:clay_cast:*
        minecraft:flowing_lava
        minecraft:web
        minecraft:powered_comparator
        minecraft:water
        minecraft:flowing_water
        minecraft:lava
        minecraft:tripwire
        minecraft:farmland
        minecraft:unpowered_comparator
        minecraft:vine
        minecraft:standing_sign
        minecraft:bed
        minecraft:end_portal_frame
        minecraft:piston_extension
        minecraft:cauldron
        minecraft:pumpkin_stem
        minecraft:potatoes
        minecraft:unpowered_repeater
        minecraft:brewing_stand
        minecraft:melon_stem
        minecraft:end_portal
        minecraft:flower_pot
        minecraft:reeds
        minecraft:command_block
        minecraft:bedrock
        minecraft:piston_head
        minecraft:redstone_wire
        minecraft:wall_sign
        minecraft:nether_wart
        minecraft:spawn_egg
        minecraft:portal
        minecraft:iron_door
        minecraft:wheat
        minecraft:wooden_door
        minecraft:deadbush
        minecraft:mob_spawner
        minecraft:carrots
        minecraft:cocoa
        minecraft:powered_repeater
        minecraft:enchanted_book
        minecraft:tripwire_hook
        minecraft:netherrack
        minecraft:tallgrass
        minecraft:command_block_minecart
        minecraft:farmland
        minecraft:lit_furnace
        minecraft:barrier
        minecraft:written_book
        minecraft:firework_charge
        minecraft:fireworks
        minecraft:log:[4-5]
        minecraft:log2:[0-3]
        minecraft:stone_slab:2
        minecraft:cooked_fish:[2-3]
        minecraft:leaves:[4-5]
        minecraft:leaves2:[0-3]
        minecraft:map
        minecraft:tipped_arrow
        minecraft:chorus_plant
        minecraft:repeating_command_block
        minecraft:chain_command_block
        minecraft:end_gateway
        minecraft:structure_block
        minecraft:frosted_ice
        tconevo:metal_block:8
     >

    # Chance to drop clover from grass (10 is vanilla seeds chance).
    I:"Chance to drop from grass"=0

    # Chance to spawn a creeper from clover (in range 0-100)
    I:"Chance to spawn creeper"=0

    # Should the item registry search for subitems (by metadata).
    B:"Discover subitems"=false

    # If not empty, these entries will be the only ones that drop from clover.
    # Formatted like other lists in this config.
    # Accepts item names only (like minecraft:dirt or buildcraft:pipeWire).
    # Supports wildcards (*).
    S:"Item Whitelist" <
     >

    # These entries will rarely drop from clover.
    # Accepts item names only (like minecraft:nether_star).
    # Supports wildcards (*).
    S:"Rare Items" <
        animania:*
        draconicadditions:*
        draconicevolution:*
        plustic:*
        yoyos:*
        tconevo:*
        overloaded:*
        moreavaritia:infinitymhoe
        thermalexpansion:frame:1
        equivalentadditions:*
        equivalentintegrations:*
        solarflux:photovoltaic_*
        projectex:colossal_star_*
        arcane_essentials:*
        avaritiaio:*
        avaritiatweaks:*
        eternalsingularity:*
        projecte:*
        avaritia:*
        minecraft:dragon_egg
        minecraft:beacon
        minecraft:nether_star
        minecraft:end_portal_frame
        minecraft:elytra
        minecraft:end_crystal
     >
}


